/* Forces sidebar to be lowercase and not sentence casing, changes color to white, and font to Fira Code */
.transition {
  text-transform: lowercase !important;
  font-family: "Fira Code", monospace !important;
  color: #ffffff !important;  /* White */
}

/* Changes background to black */
.bg-background {
    background: #111111 !important;
}

/* Changes divider to black to make it invisible */
hr {
    border-color: #111111 !important;
    color: #111111 !important;
    border: #111111 !important;
}

/* Changes body text, lists,header, links, and bolded text to Inter and color to white */
p, a, li, strong, header {
  font-family: "Fira Code", monospace !important;
  color: #ffffff !important;  /* White */
}

/* Changes headings text to Fira Code and color to white */
h1, h2, h3, h4, h5, h6 {
  font-family: "Fira Code", monospace !important;
  color: #ffffff !important;  /* White */

}

/* Changes heading size to 28 */
h1 {
  font-size: 28px !important;
  }

/* Changes heading size to 24 */
h2 {
  font-size: 18px !important;
  }

/* Changes heading size to 16 */
h3 {
  font-size: 16px !important;
  }

/* Changes heading size to 14 */
h4 {
  font-size: 14px !important;
  }

/* Changes heading size to 12 */
h5 {
  font-size: 12px !important;
  }

/* Changes heading size to 10. This is only used for Dates */
h6 {
  font-size: 10px !important;
  }

/* Sets an image for bullet list */
ul {
  list-style-image: url('/_r/-/images/sparkle.png') !important;
  padding: 12px !important;
}

/* Changes font size smaller for body and lists */
p, li {
  font-size: 14px !important;
}
